.venv/
.pytest_cache/
__pycache__/
app/dist/
.env
app/__pycache__/
app/tests/__pycache__/
app/dist/
app/flaskr/__pycache__/
app/instance/
coverage.xml
.coverage
evaluation/topics_dictionary/*.json
.DS_Store
node_modules/
population/gen_dictionary/*.json
population/gen_dictionary/*.jsonl
!population/gen_dictionary/complete_collection_expanded.json
population/populate_db.log
